.menuTotal{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    background-color:  #5c2411;
    
}

.menuDireita{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 20%;
    padding-left: 13%;
}
.cards{
    display: flex;
    flex-direction: row;
}
.colunas{
    padding: 1%;
}