
.inputItem{
    height: 20%;
    width: 60%;
}
.titulo {

    border: none;
    color: #fff;
   
    border-radius: 10px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 40px;
    padding: 0.6em 1.5em;
   }
   .direta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    align-items: center;
    min-width: 400pt;
   
   }
   .backGround{
    background-color: #692a12;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  
  
   }
   .conteinerComanda{
    height: 100%;
    width: 100%;
    background-color: #692a12;
     display: flex;
    flex-direction: row; 
   }
   .comandas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    background-color: #813f25;
    min-width: 150pt;
    
   }
   