.simple-table {
    width: 100%;
  
  }
  
  .simple-table th,
  .simple-table td {
    border: 1px solid#7a3920;
    padding: 8px;
    text-align: left;
    color: white; 
  }
  
  .simple-table th {
    background-color: #692a12;
  }